

body {
    background-color: #f5ffea;
    color: gray;
    padding-bottom: 1000px;
}

.information-bar {
    position: fixed;
    top: 0px;
    left: 35%;
    z-index: 999; 
}

.bar-link {
    text-align: center;
    background-color: #a39586;
    color: #FFF;
    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 25px;
}

.bar-link:hover {
    padding-bottom: 20px;
}

.bar-link:active {
    color: #ffaa41;
}



.moving-bar:hover {
    animation-name: moving-underline;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moving-underline {
    0% {
        border-radius: 60px;
        border-bottom: 0px solid white;
    }
    100% {
        border-radius: 15px;
        border-bottom: 12px double white;
    }
}

.passage {
    margin-left: 6%;
    margin-right: 10%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    background: #fffce2;
    
}

.link-bar {
    width: 120%;
    height: 5%;
    position: fixed;
    top: 95%;
    left: -2%;
    background: #a39586;
    
}

a {
    text-decoration: none;
}

.programming-tab {
    margin:10px; 
    background-color:#ddf1ff;
    color: black; 
    font-size: 20px; 
    text-align: center; 
    border-radius: 30%; 
    padding: 3px 10px 3px 10px; 
    
}

h4 {
    padding-top: 50px;
    padding-left: 5%;
    font-size: 30px;
    text-decoration: underline;
}



h5 {
    font-size: 20px;
}

.no-gap {
    margin: 0;
}

p {
    padding-left: 2.5%;
    padding-right: 10%;
}

h3 {
    font-size: 100px;
}