body {
    background-color: #f5ffea;

    color: gray;

    padding-bottom: 1000px;
}

.information-bar {
    position: fixed;
    top: 0px;
    left: 25%;
    z-index: 999;
}

.bar-link {
    text-align: center;
    background-color: #a39586;

    color: #FFF;

    padding: 8px;
    margin-right: 10px;
    border-radius: 10px;
    font-size: 25px;
}

.bar-link:hover {
    padding-bottom: 20px;
}

.bar-link:active {
    color: #ffaa41;
}

.website-link {
    padding: 5px 10px 5px 20px;
    margin: 10px;
    margin-left: 50px; 
    margin-right: 50px; 
    width: 15%; 
    height: max-content; 
    background: #a39586;
    color: white;
    border-radius: 50px;

}

.website-link:hover {
    animation-name: link-expander; 
    animation-duration: .5s; 
    animation-iteration-count: 1; 
    animation-fill-mode:forwards; 
}

@keyframes link-expander {
    0% {
        border-radius: 60px; 
        border-bottom: 0px solid white; 
        border-top: 0px solid white; 
    }

    100% {
        border-radius: 15px; 
        border-bottom: 12px double grey; 
        border-top: 12px double grey; 
    }
}

.website-description {
    width: 65%; 
}


.moving-bar:hover {
    animation-name: moving-underline;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes moving-underline {
    0% {
        border-radius: 60px;
        border-bottom: 0px solid white;
    }
    100% {
        border-radius: 15px;
        border-bottom: 12px double white;
    }
}

.passage {
    margin-left: 6%;
    margin-right: 10%;
    border-top: 2px solid grey;
    border-bottom: 2px solid grey;
    background: #fffce2;
    border-radius: 50px;
}


a {
    text-decoration: none;
}

.programming-tab {
    margin: 10px;
    background-color: #ddf1ff;
    color: black;
    font-size: 20px;
    text-align: center;
    border-radius: 30%;
    padding: 3px 10px 3px 10px;
}

h4 {
    padding-top: 50px;
    padding-left: 5%;
    font-size: 30px;
    text-decoration: underline;
}


.logo {
    padding: 0px 50px 50px 0px; 
    width: 50px; 
    height: 50px; 
}

h5 {
    font-size: 20px;
}

.no-gap {
    margin: 0;
}

p {
    padding-left: 2.5%;
    padding-right: 10%;
}

h3 {
    font-size: 100px;
}